<!DOCTYPE html>

<html lang="en" ng-app="App">
	<head>
		<meta charset="UTF-8" />
		<title ng-bind="title"></title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" ng-href="{{ css }}" ng-if="css" />

		<!-- Non-minified provides useful debugging information -->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-resource.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.min.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-resource.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.js"></script>
		
		<!-- Leaflet files -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""></script>
		
		<!-- Leaflet Routing Machine files -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
		<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
	</head>
	<body>
		<div id="outer">
			<div id="inner" class="floating">
				<!-- Module containing a common nav bar -->
				<nav class="nav" ng-controller="NavController">
					<img src="resources/Logo2.png" width="80" height="100"
						class="d-inline-block align-top" alt="logo"/>
					<a href="#!/">Home</a>
					<a href="#!/logout" ng-if="currentUser()">Log Out</a>
					<a href="#!/login" ng-if="!currentUser()">Log In</a>
					<a href="#!/signup" ng-if="!currentUser()">Sign Up</a>
					<a href="#!/aboutus">About Us</a>
					<a href="#!/contactus">Contact Us</a>
					<a href="#!/reviews">Reviews</a>
					<a href="#!/cart" ng-if="currentUser()">Shopping Cart</a>
					<a href="#!/services">Services</a>
					<div class="dropdown" ng-if="currentUser().id === 1">
						<button class="dropbtn">db Maintain</button>
						<div class="dropdown-content">
							<a href="insert.php" target="_blank">Insert</a>
							<a href="delete.php" target="_blank">Delete</a>
							<a href="update.php" target="_blank">Update</a>
							<a href="select.php" target="_blank">Select</a>
						</div>
					</div>
					<div style="float: right; padding: 2%;" ng-if="currentUser()">
						<form method="GET" action="Search.php">
							<input id="search" name="search" type="number" placeholder="Search" />
							<input type="submit" />
						</form>
					</div>
				</nav>

				<main id="content" ng-view></main>
			</div>
		</div>
		
		<!-- preload all pages -->
		<!--<script id="templates/home.html" type="text/ng-template"
			src="templates/home.html"></script>
		<script id="templates/aboutus.html" type="text/ng-template"
			src="templates/aboutus.html"></script>-->
		
		<!-- load controllers -->
		<script src="controllers/home.js"></script>
		<script src="controllers/signup.js"></script>
		<script src="controllers/login.js"></script>
		<script src="controllers/logout.js"></script>
		<script src="controllers/reviews.js"></script>
		<script src="controllers/cart.js"></script>
		<script src="controllers/services/a.js"></script>
		<script src="controllers/services/b.js"></script>
		
		<script>
			var app = angular.module('App', [ 'ngRoute', 'ngResource', 'leaflet-directive' ]);
			app.config(function ($routeProvider) {
				$routeProvider.when('/', {
					title: 'GQZ Travels',
					templateUrl: 'templates/home.html',
					controller: 'HomeController'
				}).when('/signup', {
					title: 'Sign Up - GQZ Travels',
					css: 'css/signup.css',
					templateUrl: 'templates/signup.html',
					controller: 'SignUpController'
				}).when('/logout', {
					title: 'Logged Out - GQZ Travels',
					templateUrl: 'templates/logout.html',
					controller: 'LogOutController'
				}).when('/login', {
					title: 'Log In - GQZ Travels',
					css: 'css/login.css',
					templateUrl: 'templates/login.html',
					controller: 'LogInController'
				}).when('/aboutus', {
					title: 'About Us - GQZ Travels',
					templateUrl: 'templates/aboutus.html'/*,
					controller: 'AboutusController'*/
				}).when('/contactus', {
					title: 'Contact Us - GQZ Travels',
					templateUrl: 'templates/contactus.html'/*,
					controller: 'ContactUsController'*/
				}).when('/reviews', {
					title: 'Reviews - GQZ Travels',
					templateUrl: 'templates/reviews.html',
					controller: 'ReviewsController'
				}).when('/cart', {
					title: 'Shopping Cart - GQZ Travels',
					templateUrl: 'templates/cart.html',
					controller: 'CartController'
				}).when('/services', {
					title: 'Services - GQZ Travels',
					css: 'css/services.css',
					templateUrl: 'templates/services.html'/*,
					controller: 'ServicesController'*/
				}).when('/services/a', {
					title: 'Travel Service - GQZ Travels',
					css: 'css/services/a.css',
					templateUrl: 'templates/services/a.html',
					controller: 'ServiceAController'
				}).when('/services/b', {
					title: 'Delivery Service - GQZ Travels',
					css: 'css/services/b.css',
					templateUrl: 'templates/services/b.html',
					controller: 'ServiceBController'
				}).otherwise({ redirectTo: '/' });
			});
			app.controller('NavController', [ '$scope', '$window',
				function ($scope, $window) {
				$scope.currentUser = function () {
					return $window.sessionStorage['user'];
				};
			} ]);
			app.controller('HomeController', [ '$scope', '$interval',
				homeController ]);
			app.controller('SignUpController', [ '$scope', '$http', '$window',
				signupController ]);
			app.controller('LogInController', [ '$scope', '$http', '$window',
				'$location', loginController ]);
			app.controller('LogOutController', [ '$scope', '$window', '$timeout',
				logoutController ]);
			app.controller('ReviewsController', [ '$scope', '$http',
				reviewsController ]);
			app.controller('CartController', [ '$scope', '$window', cartController ]);
			app.controller('ServiceAController', [ '$scope', '$http', '$window',
				serviceAController ]);
			app.controller('ServiceBController', [ '$scope', '$http', '$window',
				serviceBController ]);
			
			app.run([ '$rootScope', function ($rootScope) {
				$rootScope.$on('$routeChangeSuccess',
					function (event, current, previous) {
					$rootScope.title = current.$$route.title;
					$rootScope.css = current.$$route.css;
				});
			} ]);
    </script>
	</body>
</html>

