<h1>Travel Service</h1>
<h2>Enter your starting location and destination</h2>
<br />
<leaflet id="map" lf-center="position" width="50%" height="40vh"></leaflet>
<form novalidate="novalidate">
	<h3>Starting address</h3>
	<div id="from-address" class="address-input">
		<p>
			<label for="from-street">Street address</label>
			<input id="from-street" type="text"
				ng-model="order.fromStreet" />
		</p>
		<p>
			<label for="from-city">City</label>
			<input id="from-city" type="text" ng-model="order.fromCity" />
		</p>
		<p>
			<label for="from-provice">Province</label>
			<input id="from-province" type="text"
				ng-model="order.fromProvince" />
		</p>
		<p>
			<label for="from-country">Country</label>
			<input id="from-country" type="text" ng-model="order.fromCountry" />
		</p>
	</div>
	<h3>Destination address</h3>
	<div id="to-address" class="address-input">
		<p>
			<label for="to-street">Street address</label>
			<input id="to-street" type="text" ng-model="order.toStreet" />
		</p>
		<p>
			<label for="to-city">City</label>
			<input id="to-city" type="text" ng-model="order.toCity" />
		</p>
		<p>
			<label for="to-provice">Province</label>
			<input id="to-province" type="text" ng-model="order.toProvince" />
		</p>
		<p>
			<label for="to-country">Country</label>
			<input id="to-country" type="text" ng-model="order.toCountry" />
		</p>
	</div>
	<br />
	<label for="fulfillment-date"><strong>Fulfillment Date: </strong></label>
	<input id="fulfillment-date" type="date" ng-model="order.date"
		ng-change="populateVehicles(order)" />
	<h3>Available Vehicles</h3>
	<p>Select a date to list available vehicles</p>
	<table id="available-cars" ng-if="cars.length">
		<tr id="car-header">
			<th>Select</th>
			<th>Model</th>
			<th>Rate ($/Km)</th>
		</tr>
		<tr ng-repeat="car in cars">
			<td><input id="car-id-{{ car.id }}" name="car-id" type="radio"
				value="{{ car.id }}" data-rate="{{ car.rate }}" /></td>
			<td><label for="car-id-{{ car.id }}">{{ car.model }}</label></td>
			<td>${{ car.rate.toFixed(2) }}</td>
		</tr>
	</table>
	<br />
	
	<input type="button" ng-click="updateRoute()" value="Update" />
	<input type="submit" ng-click="" value="Add to cart" />
</form>

